<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
		<span aria-hidden="true">x</span>
	</button>
	<h4 class="modal-title">修改资源类型</h4>
</div>
<div class="modal-body padding-bottom-0">
	<div class="row">
		<div class="col-sm-2 margin-bottom-4" ng-repeat="s in fileTypes">
			<a href="#" ng-click="core._selectDocType(s)"
			   class="btn btn-xs btn-metro btn-default">{{s}}</a>
		</div>
	</div>
	<div class="margin-top-20  text-center">
		<h4>当前选择: <input type="text" class="text-center" style="width: 50px;color:red;"
						 ng-model="core.selectedFileType"/>
		</h4>
	</div>
	<div class="color-red text-center">{{msg}}</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-sm btn-default btn-metro min-width-80" ng-click="cancel()">
		取消
	</button>
	<button type="button" class="btn btn-sm btn-primary btn-metro min-width-80" ng-click="core._save()">
		保存
	</button>
</div>
