<navbar></navbar>
<div class="flex-full-view-free">
	<div class="login-box text-center" ng-if="!currentUser">
		<!--LOGIN PAD-->
		<div class="login-pad">
			<form class="form" name="form" novalidate>
				<div class="login-title text-center">
					<div class="product-name">MeTeL课程健康管理平台</div>
				</div>
				<h5 class="margin-top-25"><i class="fa fa-info-circle"></i> 系统检测到您还没有登陆,请登陆后操作!</h5>
				<h5 class="margin-top-25">当前版本:V1.0</h5>
				<a href="{{auth.$forward()}}" class="btn btn-success btn-metro margin-top-25">
					<i class="glyphicon glyphicon-log-in"></i> 带我去登录
				</a>
			</form>
		</div>
	</div>
	<div class="container" ng-if="currentUser">
		<div>已登陆</div>
		<div ng-if="currentUser">
			{{currentUser}}
		</div>
	</div>
</div>
<footer></footer>
