<navbar></navbar>
<div class="flex-full-view-free">
	<div class="login-box" ng-if="!currentUser">
		<!--LOGIN PAD-->
		<div class="login-pad">
			<form class="form" name="form" novalidate>
				<div class="login-title text-center">
					<div class="product-name">MeTeL课程及资源健康管理平台</div>
					<h5>当前版本:V1.0</h5>
				</div>
				<!--账号-->
				<div class="form-group x-box">
					<label class="fa fa-user"></label>
					<input type="text" name="username" class="form-control" ng-model="login.username"
						   placeholder="账号" autofocus required
						   tabindex="1">
				</div>
				<!--密码-->
				<div class="form-group x-box">
					<label class="fa fa-asterisk"></label>
					<input type="password" name="password" class="form-control" placeholder="Password"
						   ng-model="login.password" required tabindex="2">
				</div>
				<!--错误-->
				<div class="form-group" ng-if="login.error">
					<div class="alert alert-danger"><i class="fa fa-warning"></i> {{login.error}}</div>
				</div>
				<div class="text-center">
					<a href="#" class="btn btn-success btn-metro btn-sm" ng-click="login._submit()"
					   tabindex="3"><i class="glyphicon glyphicon-log-in"></i> 立 即 登 陆
					</a>
				</div>
			</form>
		</div>
	</div>
	<div class="container padding-0 bgc-fff" ng-if="currentUser">
		<uib-tabset class="" active="active" type="tabs">
			<uib-tab class="margin-left-20" heading="有异常的课程" index="0">
				<div class="margin-left-20 padding-right-20 padding-bottom-20">
					<h3 class="text-center">我近三个月 采集或修改 的课程
						<span class="color-red">({{core.abnormalCourseSum}}<i class="fa fa-spinner fa-spin"
																			  ng-if="!core.getCoursesPromise.$resolved"></i>)
						</span>
					</h3>
					<div class="text-right" ng-if="core.getCoursesPromise.$resolved">
						<back-to-top class="back_top" style="position: fixed; top:80%" title="返回顶部">
							<img class="max-128 fa-click" src="assets/images/timg.png" alt=""/>
						</back-to-top>
					</div>
					<div ng-repeat="(k,v) in core.abnormalCourses">
						<h4>{{k}}</h4>
						<div class="margin-left-50">
							<div class="course-item-box" ng-repeat="s in v|orderBy:'cbTime'">
								<div class="font-size-16 margin-right-10 color-aaa">{{s.cbTime|date:'HH:mm'}}</div>
								<div ng-click="core._goResorcesPage(s.rno)" class="point-box text-center fa-click"
								uib-tooltip="课程得分: {{s.point2}}">{{s.point2}}
								</div>
								<div ng-click="core._goResorcesPage(s.rno)" class="error-level-box text-center fa-click"
									 uib-tooltip="有 {{s.errorLevel}} 个错误"
									 ng-class="{'error-level-four':s.errorLevel==4,'error-level-three':s.errorLevel==3,'error-level-two':s.errorLevel==2,'error-level-one':s.errorLevel==1,'error-level-zero':s.errorLevel==0}">
									{{s.errorLevel}}
								</div>
								<div uib-tooltip="主导资源类型" class="text-center mainrestype-box">{{s.mainrestype||'未知'}}
								</div>
								<!--<div>{{s.rno}}</div>-->
								<div class="text-overflow" style="max-width:500px;margin-bottom: -5px;">
									<a class="color-111"
									   title="{{s.courseName}}"
									   ng-href="http://metel.cn/course/{{s.rno}}"
									   target="_blank">{{s.courseName}}</a> ( {{s.courseNo||'无'}} )
								</div>
								<div class="margin-left-30">
									<a class="open-clent-btn" href="metel:course|metel_course,{{s.rno}}">编辑课程</a>
								</div>
								<div>
									<a class="open-clent-btn"
									   ng-href="metel:resource|{{currentUser.shortName}},metel,{{s.rno}}">编辑资源</a>
								</div>
								<div>
									<input type="hidden" class="form-control" placeholder="Enter text to copy"
										   ng-model="s.rno">
									<span class="open-clent-btn fa-click" ng-click="core._copyRno(s)" clip-copy="s.rno">复制RNO</span>
									<span class="copy-msg" ng-if="s.copy">
										<img class="max-18" src="assets/images/checkmark.png"/> {{s.copy}}
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="text-center" ng-if="core.getCoursesPromise.$resolved && !core.abnormalCourses">
						<img ng-src="assets/images/sorry.jpeg"/>
						<h4>抱歉，系统未找到您采集或修改的课程与资源，如有疑问请联系管理员！</h4>
					</div>
				</div>
			</uib-tab>
			<uib-tab heading="我采集的其他课程">
				<div class="padding-left-20 padding-right-20 padding-bottom-20">
					<h3 class="text-center">我近三个月采集或修改的课程</h3>
					<div class="text-right" ng-if="core.courses.length">
						<back-to-top class="back_top" style="position: fixed; top:80%" title="返回顶部">
							<img class="max-128 fa-click" src="assets/images/timg.png" alt=""/>
						</back-to-top>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>序号</th>
									<th>名称</th>
									<th>编号</th>
									<th>采集时间</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s  in core.courses">
									<td width="20px;">{{$index+1}}</td>
									<td>
										<a href="http://metel.cn/course/{{s.rno}}" target="_blank">{{s.coursename}}</a>
										<div class="color-aaa">{{s.coursenamecn}}</div>
									</td>
									<td>{{s.courseno}}</td>
									<td width="100px;">{{s.cbTime|date:'yyyy-MM-dd'}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</uib-tab>
		</uib-tabset>
		<div class="text-center">
			<img ng-src="assets/images/loading1.gif" alt="" ng-if="!core.getCoursesPromise.$resolved"/>
		</div>
	</div>
</div>
<footer></footer>

