<navbar></navbar>
<div class="flex-full-view-free">
	<div class="login-box" ng-if="!currentUser">
		<!--LOGIN PAD-->
		<div class="login-pad">
			<form class="form" name="form" novalidate>
				<div class="login-title text-center">
					<div class="product-name">悟悟易主-北四村最专业的物品交易平台</div>
					<h5>当前版本:V1.0</h5>
				</div>
				<!--账号-->
				<div class="form-group x-box">
					<label class="fa fa-user"></label>
					<input type="text" name="username" class="form-control" ng-model="login.username"
						   placeholder="账号" autofocus required
						   tabindex="1">
				</div>
				<!--密码-->
				<div class="form-group x-box">
					<label class="fa fa-asterisk"></label>
					<input type="password" name="password" class="form-control" placeholder="Password"
						   ng-model="login.password" required tabindex="2">
				</div>
				<!--错误-->
				<div class="form-group" ng-if="login.error">
					<div class="alert alert-danger"><i class="fa fa-warning"></i> {{login.error}}</div>
				</div>
				<div class="text-center">
					<a href="#" class="btn btn-success btn-metro btn-sm" ng-click="login._submit()"
					   tabindex="3"><i class="glyphicon glyphicon-log-in"></i> 立 即 登 陆
					</a>
				</div>
			</form>
		</div>
	</div>
</div>
<footer></footer>

